
body{
    margin: 0;
    height: 100vh;
}
.main-content{
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    height: 100%;
    background-color: #f5f5f5f5;
}

.app-title{
    font-size:x-large;
    font-weight: bold;
    text-align: center;
    padding: 3%;
    color: #b19cd9;
    height:3%;
}
.uploader-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b19cd9;
    height:75%;
}

.upload-box{
    background-color: white;
    border: 2px dashed #b19cd9;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.upload-box.active{
    border: 2px solid #fff;
}
.upload-box .icon{
    font-size: 100px;
    color: #b19cd9;
}
.upload-box header{
    font-size: 30px;
    font-weight: bold;
    color: #b19cd9;
}
.upload-box p{
    font-size: 20px;
    font-weight: 500;
    color: #b19cd9;
    margin: 10px 0 15px 0;
}
.upload-box span{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.filename-container{
    margin-top: 10%;
}

#buttons-container{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    width: 100%;
    justify-content: center;
}

.upload-box button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    background: #b19cd9;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

#upload-button{
    margin-left: 15%;
    background-color: #77dd77;
}

.upload-box img{
    height: 15%;
    width: 10%;
    margin-bottom: 3%;
    object-fit: cover;
    border-radius: 5px;
}

#upload-input{
 display: none;
}

.footer{
    text-align: right;
    font-weight: bold;
    height: 10%;
    margin-right:2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}