<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../static/js/index.js"></script>
    <title>Compress.je</title>
</head>
<body>
<div class="main-content">
    <div class="app-title">
        Welcome to Compress.je, Jeremy's File Compressor
    </div>
    <div class="uploader-section">
        <div id="upload-box" ondrop="handleDrop(event)" ondragover="allowDrop(event)">
            <form class="upload-box" method="post" action="" enctype="multipart/form-data" >
                <input type="file" name="uploadFile" id="upload-input">
                <img src="../static/images/upload-icon.png" alt="upload file icon">
                <header>Upload and Download compressed file</header>
                <p>Drag & drop to upload a file (.jpg, .jpeg, .txt, .pdf, etc)</p>
                <div class="filename-container">
                    <span id="filename">No file selected</span>
                </div>
                <div id="buttons-container">
                    <button type="button" id="select-file-button" onclick="selectFile()">Select a file </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>